a {
text-transform : capitalize;
font-size :26px;
text-decoration : none;
display : block;
float : left;
color : #ffffff;
background-color : #93ff93;
margin : 20px;
}

a:hover{
color : white;
background-color : #22ff22;
opacity : .9;
}
body{
	
	background-color : #b7ffb7;
}
.inp{
background-color :#b3b3ff;
color : #F4F6F7;
font-size : 14px;
font-family :Georgia;
font-weight : bold;
width: 250px;
height :50px
}

.btn{
background-color :#808000;
color : white;
font-size : 18px;
font-weight : bold;
width: 250px;
height :50px
border radius : 120px;
font-family :Georgia;
}

.btn:hover{
background-color :red;
color : #000080;
}

h1{
background-color :#ff0000;
color : #ffffff;
text-align: center;
font-size : 28px;
font-family :arial;
font-weight : bold;
}

.f2{
background-color :#000000;
color :white;
text-align: center;
font-size : 18px;
font-height : 30px;
font-family :arial;
height:30px;
}

.c1{
background-color :#cacaca;
color : black;
font-size : 18px;
font-family :arial;
font-weight : bold;
}

 td{
	background-color :#ffff3c;
	color : black;
	font-size : 16px;
 }
 
 .tab{
	background-color:#000000;
	color:white;
	font-size:16px;
	font-family:Calibri;
	width:50%;
		
}

.tr{
	background-color: #ffff00;
	color:black;
	font-size:15px;
	font-family:Calibri;
	font-style:bold;
}

.tr1{
	background-color:#c6ffff;
	color:black;
	font-size:16px;
	font-family:Calibri;
	font-style:bold;
}
 
 .f3{
background-color :#0000ff;
color : black;
text-align: center;
font-size : 14px;
font-family :arial;
}

.p{
background-color :#d1d1d1;	
color : #400040;
font-size : 17px;
font-family :arial;
width:70%;
}

.p1{	
color : #ff0000;
font-size : 15px;
font-family :arial;
}


.h2{
background-color :#ff0000;
color : #ffffff;
text-align: center;
font-size : 28px;
font-family :arial;
font-weight : bold;
}

.p2{
background-color :#ff0000;	
color : #ffffff;
font-size : 17px;
font-family :arial;
width:70%;
}

tr{
	color:#00d76b;
	font-size:13px;
	font-family:Calibri;
	font-style:bold;
}

th{
	color:#1a1a1a;
	font-size:13px;
	font-family:Calibri;
	font-style:bold;
}
	
